@font-face {
    font-family: 'is';
    src: url('../fonts/IsaacSemiBold.eot') format('eot'),
        url('../fonts/IsaacSemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
    // unicode-range: U+000-5FF; /* Latin glyphs */
}
