@font-face {
    font-family: 'fv';
    src: url('../fonts/Fontdevila-Regular.woff') format('woff'),
        url('../fonts/Fontdevila-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    // unicode-range: U+000-5FF; /* Latin glyphs */
}
