
.layout {
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
}

.grid {
  --grid-columns: 2;
  --grid-gutter-width: 1rem;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: var(--grid-gutter-width);

  padding-left: var(--grid-gutter-width);
  padding-right: var(--grid-gutter-width);
  
}

.-col1 {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 1rem;
  }
}

.-col2 {
  padding-top: 1rem;
}

.block {
  padding-bottom: 10rem;
  width: auto;

  &-title {
    padding-bottom: 2rem;
    position: sticky;
    top: 1rem;
    z-index: 1;
  }
  &-image {
    z-index: 2;
    position: relative;
    width: auto;
    max-width: 75rem;
    max-height: 90vh;
  }
}



.title--rotate {
  transform: rotate(90deg);
  transform-origin: 0 0;
}