
.layout {
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
}

.section {
  padding-bottom: 1vw;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up (sm) {
    padding-left: 0rem;
  }
}

.section--no-space-sm {
    padding-left: 0rem;
    padding-right: 0rem;

    .block-title,
    .block-image {
      padding-left: 1rem;
      padding-right: 1rem;
    }
}


.section-title {
  margin-bottom: 3vw;
}

.block {
  margin-bottom: 15vw;
  width: auto;

  @include media-breakpoint-up (md) {
    margin-bottom: 10vw;
  }

  &-title {
    // margin-bottom: 3vw;
    z-index: 1;
    grid-column: auto/span 12;
    position: sticky;
    top:1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

  }

  // image wrapper

  picture,
  picture img {
    z-index: 2 !important;
    position: relative !important;
    transform: translate3d(0,0,0);
  }

  picture img,
  &-slider img {

    @include media-breakpoint-up (md) {
      max-height: 100vh;
    }
  }

  &-image {

    max-width: 100vw;

    @include media-breakpoint-up (sm) {
      max-width: 73vw;
    }

    @include media-breakpoint-up (md) {
      max-width: 73vw;
    }

    @include media-breakpoint-up (lg) {
      max-width: 70vw;
    }

    @include media-breakpoint-up (xl) {
      max-width: 60vw;
    }
  }

  &-map {
    z-index: 2 !important;
    position: relative !important;
    max-width: 90vw;

    @include media-breakpoint-up (sm) {
      max-width: 90vw;
    }

    @include media-breakpoint-up (md) {
      max-width: 80vw;
    }

    @include media-breakpoint-up (lg) {
      max-width: 70vw;
    }

    @include media-breakpoint-up (xl) {
      max-width: 60vw;
    }
  }

  &-slider {
    overflow-x: hidden;
    z-index: 2 !important;
    position: relative !important;

    grid-column: auto/span 12;
    padding-right: 2rem;


  }

  a {
    &:hover,
    &:hover span {
      font-style: italic;
    }
  }

}

.mb-image {
  margin-bottom: 10vw;
}

.fake-arroba{
  font-size: .7em;
}

.pr-1 {
  padding-right: 1rem;
}
