
.layout {
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
}

.section {
  padding-bottom: 1vw;
}

.section-title {
  margin-bottom: 3vw;
}

.block {
  margin-bottom: 10vw;
  width: auto;

  &-title {
    margin-bottom: 3vw;
    position: sticky;
    top: 1rem;
    z-index: 1;
  }

  &-image {
    z-index: 2 !important;
    position: relative !important;
    max-height: 90vh;
    width: auto;

    @include media-breakpoint-up (md) {
      max-width: 80vw;
    }
  }

}


// a{
//   font-family: $font-family-serif !important;
//   font-size: 4vw;
//
//   @include media-breakpoint-up (md) {
//     font-size: 4vw;
//   }
// }

.mb-image {
  margin-bottom: 10vw;
}
