<footer class="footer" role="contentinfo">
    
    <div class="footer-inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>

        <p class="text-super">SAR </p>
        <p class="text-super title--rotate-90">53</p>
        {# Nav Links  #}
        {% include "navlegal.njk" %}
    </div>
</footer>
