<footer class="grid footer text-04" role="contentinfo">

    <div class="g-col-12 g-col-md-3">

        <p>
          <a href="mailto:espazo@sar53.com">espazo<span class="fake-arroba">@</span>sar53.com</a>
        </p>

        {# Nav Links  #}
        {# {% include "navlegal.njk" %} #}
    </div>

    <div class="g-col-12 g-col-md-9">
      <ul class="footer-credits">
        {% for item in creditos %}
          <li class="">{{item.title|safe}}</li>
        {% endfor %}
      </ul>
        {# Nav Links  #}
        {# {% include "navlegal.njk" %} #}
    </div>

</footer>
