<header class="header" role="banner">
    <div class="header-inner">
        <div class="header-left">
            🎩 {{meta.title}}
        </div>
        <div class="header-right">
            {% include "nav.njk" %}
        </div>
    </div>
</header>
