<section class="section mt-3 ">
  {% for item in presentation %}
    <div class="block">

      {% if item.title %}
      <div class="block-title">
        <h3 class=" text-01">{{ item.title }}</h3>
      </div>

      {% endif %}

      {% if item.image %}
        {% image "src/"+item.image , "block-image img-contain", item.title, "(min-width: 30em) 50vw, 100vw" %}
      {% endif %}

      {% if item.gallery %}
        <div class="block-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for image in item.gallery %}
                <div class="swiper-slide">
                  {% image "src/"+image , "block-image img-contain", item.title, "(min-width: 30em) 50vw, 100vw" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  {% endfor %}
</section>
