<section class="section">
    {% if tarifas.title %}
      <h2 class="section-title text-super">{{tarifas.title}}</h2>
    {% endif %}
      <div class="block">

        {% if tarifas.description %}
          <h3 class="g-col-12 mb-5 text-01">{{ tarifas.description|safe }}</h3>
        {% endif %}

        <div class="g-col-12 grid">
          {% for price in tarifas.prices %}
            <article class="g-col-6 g-col-md-6">
              <p class="text-01">{{price.title}} <br>{{price.price}} </p>
              <span>{{price.adv}}</span>
              <ul class="pt-3">
                {% for serv in price.services %}
                  <li class="text-02">- {{serv.title}}</li>
                {% endfor %}
              </ul>
            </article>
          {% endfor %}
        </div>

      </div>

</section>
