.show-mobile {
  display: block;
  @include media-breakpoint-up (lg) {
    display: none;
  }
}

.show-desktop {
  display: none;
  @include media-breakpoint-up (lg) {
    display: block;
  }
}


// Cover Fit Single Image
.img-fit{
  object-fit: cover;
  min-height: 100%;
}

.img-contain{
  object-fit: contain;
  height: auto;
  object-position: left;
}

// Cover Fit Picture version
picture.img-fit{
  object-fit: cover;
  min-height: 100%;

  img {
    height: 100%;
  }
}

// Contain Picture version
picture.img-contain{
  object-fit: contain;
  min-height: 100%;

  img {
    height: 100%;
  }
}

.lock-scroll {
  overflow-y: hidden;
}

.sticky {
  position: sticky;
  top: 1rem;
  z-index: -1;
}
