.show-mobile {
  display: block;
  @include media-breakpoint-up (lg) {
    display: none;
  }
}

.show-desktop {
  display: none;
  @include media-breakpoint-up (lg) {
    display: block;
  }
}


// Cover Fit Single Image
.img-fit{
  object-fit: cover;
  min-height: 100%;
}

// Cover Fit Picture version
picture.img-fit{
  object-fit: cover;
  min-height: 100%;

  img {
    height: 100%;
  }
}

.lock-scroll {
  overflow-y: hidden;
}

.sticky-top {
  position: sticky;
  top: 0;
}