$black:                       #111111;
$white:                       #FFFFFF;
$blue:                        #0000CC;
$pink:                        #F08E94;
$yellow:                      #FFFFB9;
$green-light:                 #60D19A;
$green:                       #73b096;
$gray-dark:                   #222222;
$gray:                        #666666;
$gray-light:                  #EFEFEF;
$gray-200:                    #CCCCCC;

$primary:                     $black;
$secondary:                   $white;
$accent:                      $blue;

$text-color:                  $primary;
$bg-color:                    $secondary;

// Fonts
$font-family-sans-serif:      "fv", sans-serif, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-serif:           Georgia, SSFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:            $font-family-sans-serif;

$font-weight-base:            500;
$line-height-base:            1.2;
$font-size-root:              100%;
$font-size-base:              1rem;

$headings-line-height:        1;

$headings-margin-bottom:      0;

// Z-index
$zindex-sections:                        1040;
$zindex-newsletter:                      1050;
$zindex-nav:                             1060;
$zindex-close:                           1070;


// Spacers
$spacer: 1rem;
$spacers: () ;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 4.5)
  ),
  $spacers
);

$enable-grid-classes: true;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           3rem;
$grid-row-columns:            6;

$container-max-widths: (
  sm: 650px,
  md: 850px,
  lg: 1100px,
  xl: 1240px,
  xxl: 1540px
) !default;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 2000px
);

// Animation
//
// Default easing curves, Transitions, etc

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;


$my-type: () !default;

$my-type-set: map-merge(
  (
    "text-super": (
        "family": $font-family-sans-serif,
        "weight": $font-weight-base,
        "size": 15vw,
        "size-sm": 12vw,
        "size-xl": 15vw,
        "lh": .7,
        "tt": uppercase
    ),
    "text-01": (
        "family": $font-family-sans-serif,
        "weight": $font-weight-base,
        "size": 9.5vw,
        "size-sm": 8vw,
        "size-xl": 6vw,
        "lh": .7,
    ),
    "text-02": (
      "family": $font-family-sans-serif,
      "weight": $font-weight-base,
      "size": 1rem,
      "size-md": 1.5rem,
      "size-xl": 2rem,
      "lh": .7,
    ),
    "text-03": (
      "family": $font-family-sans-serif,
      "weight": $font-weight-base,
      "size": 2.5rem,
      "size-md": 2rem,
      "lh": .7,
    ),
    "text-04": (
      "family": $font-family-sans-serif,
      "weight": $font-weight-base,
      "size": 1.2rem,
      "size-md": 1rem,
      "lh": .7,
    )
  ),
  $my-type
);


// Layout

// Borders

// Z-index
$zindex-fixed: 10004;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           1.5rem;
$grid-row-columns:            6;

$gutters: $spacers;

// Container padding

$container-padding-x: $grid-gutter-width * .5;
