.footer {
  padding-bottom: 1rem;
  grid-gap: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up (sm) {
    padding-left: 0rem;
  }

  &-credits {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up (sm) {
      flex-direction: row;
      justify-content: flex-end;
    }

    li:not(:last-child) {
      padding-right: .75rem;
    }
  }
}
