.logo-wrapper {
  height: calc(50vh - 2rem);
  display: flex;

  justify-content: space-between;
  align-items: start;

  padding-top: 1rem;

  @include media-breakpoint-up(sm) {
    flex-direction: column;
    height: 100vh;

    padding-top: 0rem;
    padding-bottom: 2rem;
  }
}


.svg-wrapper {
  max-width: 4rem;

  @include media-breakpoint-up (sm) {
    max-width: 6rem;
  }
}

.svg-wrapper--small {
  max-width: 4rem;

  @include media-breakpoint-up (sm) {
    max-width: 5rem;
  }
}
