.logo-wrapper {
  height: 10rem;
  display: flex;

  justify-content: space-between;
  align-items: start;

  padding-top: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up(sm) {
    flex-direction: column;
    height: calc(100vh - 2rem);

    padding-top: 0rem;
    padding-right: 0rem;
  }
}

.svg-wrapper {
  max-width: 3rem;

  @include media-breakpoint-up (sm) {
    max-width: 5rem;
  }
  @include media-breakpoint-up (lg) {
    max-width: 5rem;
  }
  @include media-breakpoint-up (xl) {
    max-width: 4.5rem;
  }
}
