.navmain {
display: flex;
flex-direction: column;

  .nav-item {
    display: flex;
    justify-content: space-between;
    position: relative;

    padding: .5rem 1rem;
    border-top: 3px solid $black;

    &:last-child {
      border-bottom: 3px solid $black;
    }
  }

  .nav-plus {
    font-size: 1.5em;
    position: absolute;
    top: .25rem;
    right: .25rem;
  }

}
