---
layout: base
---

<section class="ly-default">
    <div class="ly-col1">
        <p class="text-super title--rotate">
            <a href="/">SAR</a>
        </p>
        <p class="text-super title--rotate">
            <a href="/">53</a>
        </p>
    </div>
    <div class="ly-col2">
        {% for item in blocks %}
            <div class="block">
                <h3 class="block-title text-01">{{ item.title }}</h3>
                {% if item.image %}
                    <img class="block-image" src="{{ item.image }}" alt="{{ item.title }}">
                {% endif %}

                {% if item.gallery %}
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for image in item.gallery %}
                                <div class="swiper-slide">
                                    <img src="{{ image }}" alt="{{ item.title }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>